$color-main: #232828;
$color-white: #ffffff;
$color-border: #ccc;
$color-text-grey: #65676bff;
$color-hover-blue: #00FFF74C;
$color-red: #ec0000;
$color-darker-red: #AD291FFF;
$color-light-red: #e9bfbf;
$color-yellow: #ffbe00;
$color-darker-yellow: #C59201FF;
$color-background:#f0f1f2;
$color-light-font:#717171;
$color-border: #ccc;
$color-promo-box: #e1e1e1;
$color-input: #717171;
$color-silver-white: #DADBDD;
$color-background: #f0f0f0;
$color-border-bottom: #d9d9d9;






